.navbar .btn{
    border: none;
}

.offcanvas-body .nav-link{
    font-size: 1.5rem;
    transition: all ease-in-out 0.3s;
}

.offcanvas-body .nav-link:hover{
    font-size: 1.7rem !important;
}

.offcanvas-title{
    font-size: 1.5rem;
}